<div class="page-header">
  <h1>Boards</h1>
</div>

{{#if model}}
  <ul>
    {{#each board in model}}
      <li>
        {{#if board.id}}
          {{#link-to "slides" board}}{{board.name}}{{/link-to}}
        {{else}}
          Saving {{board.name}}...
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  No boards.
{{/if}}

{{#if authorization.canManageBoards}}
  {{render "newBoard"}}
{{/if}}
