{{#if authorization.canManageBoards}}
  {{render newBoard}}
{{/if}}

{{#if model}}
  <ol>
    {{#each board in model}}
      <li>
        {{#if board.id}}
          {{#link-to "slides" board}}{{board.name}}{{/link-to}}
        {{else}}
          Saving {{board.name}}...
        {{/if}}
      </li>
    {{/each}}
  </ol>
{{else}}
  No boards.
{{/if}}
