{{partial "new_perspective_assignment"}}

{{outlet}}

<div class="slide">
  {{#if perspectiveAssignments}}
    <div class="gridster" {{bind-attr class="assignmentsSaving"}}>
      <ul>
        {{#each assignment in perspectiveAssignments}}
          {{! Shouldn't have to pass the slide like this, but the assignment's
          slide association isn't being populated properly.  So we pass.}}
          {{perspective-assignment assignmentBinding="assignment" slideBinding="this"}}
        {{/each}}
      </ul>
    </div>
  {{else}}
    <p class="lead">
      Use the controls above to add perspectives to this slide.
    </p>
  {{/if}}
</div>
