I am displaying a slide with id {{id}}!

{{#link-to "new_perspective_assignment" this}}Add stuff{{/link-to}}

{{outlet}}

<div class="slide">
  {{#if perspectiveAssignments}}
    <div class="gridster" {{bind-attr class="assignmentsSaving"}}>
      <ul>
        {{#each assignment in perspectiveAssignments}}
          {{! Shouldn't have to pass the slide like this, but the assignment's
          slide association isn't being populated properly.  So we pass.}}
          {{perspective-assignment assignmentBinding="assignment" slideBinding="this"}}
        {{/each}}
      </ul>
    </div>
  {{else}}
    No perspectives.
  {{/if}}
</div>
