I am displaying a slide with id {{id}}!


{{#if perspectiveAssignments}}
  <ul>
    {{#each perspectiveAssignments}}
      <li>
        Assignment: {{template_id}}, column: {{column}}, row: {{row}}
      </li>
    {{/each}}
  </ul>
{{else}}
  No perspectives.
{{/if}}
