{{#if configurableAttributes}}
  <div class="panel panel-default">
    <div class="panel-heading"><h5>Configuration</h5></div>
    <div class="panel-body">
      {{#each configurableAttribute in configurableAttributes}}
        {{configurable-attribute attributeBinding="configurableAttribute"}}
      {{/each}}
    </div>
  </div>
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading"><h5>Perspectives</h5></div>
  <div class="panel-body">
    <ul class="perspectives list-unstyled">
      {{#each perspectives}}
        <li>
          {{name}} &mdash;
          <em>{{description}}</em>
          <br />
          {{#each templates}}
            <span class="badge">
              {{width}}x{{height}} 
            </span>
            &nbsp;
          {{/each}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
