<div class="panel panel-default">
  <div class="panel-heading"><h5>Configuration</h5></div>
  <div class="panel-body">
    {{#each configurableAttribute in configurableAttributes}}
      {{configurable-attribute attributeBinding="configurableAttribute"}}
    {{/each}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h5>Perspectives</h5></div>
  <div class="panel-body">
    <ul class="perspectives">
      {{#each perspectives}}
        <li>
          {{name}} &mdash;
          <em>{{description}}</em>
          <br />
          {{#each templates}}
            <span class="label label-info">
              {{width}}x{{height}} 
            </span>
            &nbsp;
          {{/each}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
