!!! 5

%html
  %head
    %title All Aboard
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans"

    = stylesheet_link_tag "all_aboard/application", media: "all"
    = javascript_include_tag "all_aboard/application"
    = csrf_meta_tags

  %body{ data: body_data }
    .container
      #ember-container
